<div class="top-wrapper">
	<div class="container">
		<h1>勉強のためのコンテンツ作成</h1>
		<p>オンラインにてプログラミングの勉強をしています</p>
		<p>周辺ツールの勉強もしています</p>
		<p>そのアウトプット作品です<br></br></p>
	</div>
	<div class="btn-wrapper">
		<a href="" class="btn menu">趣味</a>
		<a href="" class="btn menu">仕事</a>
		<a href="" class="btn menu">プロフィール</a>
	</div>

</div>